div.rss a{
	font-style:normal;
}
div.rss a.rss-block{
	background-color:#FC9;
	padding:2px 6px;
	margin-left:12px;
	margin-right:12px;
	font-family:Georgia;
	font-size:14px;
	color:#723A2D;
}
div.rss a.sub{
	margin-left:54px;
	padding-left:24px;
	background:url(images/content/icon_news.gif) no-repeat 0px 3px;
}
#text div.content div.cal ul{
	clear:left;
	height:0px;
	padding-bottom:10px;
	position:relative;
}
#text div.content div.cal ul li{
	padding:0px;
	padding-right:10px;
	background:none;
	text-decoration:none;
	float:left;
}
#text div.content div.cal ul li.year{
	padding-left:20px;
	padding-right:20px;
	background:url(images/content/square.gif) no-repeat 0px 5px;
	text-decoration:underline;
}
#text div.content div.cal ul li a.current{
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
#text div.content div.cal ul li.year a.current{
	text-decoration:underline;
}
#text div.content div.cal ul li a.current:hover{
	color:#330 !important;
}
#text div.content div.cal ul li.year a:hover{
	color:#C90 !important;
}