* {
	margin:0px;
	padding:0px;
}
html,body {
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#393A3D;
}
img {
	border:none;
}
a {
	text-decoration:underline;
	color:#393A3D;
}
a:hover {
	text-decoration:none;
}
#main-block {
	min-width:1000px;
}
/***************top***************/
#top-links {
	height:21px;
	margin-bottom:15px;
	background-color:#FBFBFB;
	text-align:center;
}
#top-links a{
	font-size:11px;
	color:#C8C8C8;
}
#top {
	height:71px;
	position:relative;
}
#top a.logo{
	padding-top:45px;
	background:url(images/top/logo.jpg) no-repeat left top;
	text-decoration:none;
	position:absolute;
	left:61px;
	top:1px;
}
#top div.menu{
	position:absolute;
	top:20px;
	right:13px;
}
#top div.menu a{
	color:#A8A8A8;
	font-size:11px;
	padding-right:10px;
}
#top div.menu a.home{
	color:#DB0048;
}
/***************end_top***************/
/***************content***************/
#left-side {
	float:left;
	width:440px;
}
#left-side div.big-image{
	height:300px;
	background:url(images/content/back_image.jpg) repeat-x;
	position:relative;
}
#left-side div.big-image div.man-woman{
	background:url(images/content/man_woman.jpg) no-repeat;
	width:221px;
	height:210px;
	position:absolute;
	right:19px;
	bottom:0px;
}
#left-side div.last-works{
	padding-top:14px;
}
#left-side div.last-works h2.headline{
	width:198px;
	height:23px;
	padding-left:25px;
	padding-top:7px;
	background-color:#212224;
	border:1px solid #313234;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
}
#left-side div.last-works div.works{
	width:399px;
	height:158px;
	background-color:#EEF2F5;
	padding-left:11px;
	padding-top:22px;
}
#left-side div.last-works div.works dl{
	float:left;
	width:100px;
	padding-left:13px;
	padding-right:13px;
}
#left-side div.last-works div.works dl dt img{
	border:2px solid #C8C8CE;
}
#left-side div.last-works div.works dl dd{
	padding-top:10px;
}
#left-side div.last-works div.works dl dd a{
	color:#DB0048;
}
#right-side {
	margin-left:480px;
	margin-right:14px;
}
#menu {
	height:39px;
	background:url(images/content/menu_back.jpg) repeat-x;
	position:relative;
	padding:0px 7px 32px 7px;
}
#menu div.left-side{
	background:url(images/content/menu_left_side.jpg) no-repeat;
	width:7px;
	height:39px;
	position:absolute;
	top:0px;
	left:0px;
}
#menu div.right-side{
	background:url(images/content/menu_right_side.jpg) no-repeat;
	width:5px;
	height:39px;
	position:absolute;
	top:0px;
	right:0px;
}
ul#nav{
	list-style:none;
	position:absolute;
	left:0px;
	top:10px;
}
ul#nav li{
	list-style:none;
	float:left;
	padding-right:14px;
	padding-left:11px;
	background:url(images/content/menu_line.gif) no-repeat right;
	position:relative;
}
ul#nav li.last{
	background:none;
	padding-right:0px;
}
ul#nav li a{
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	position:relative;
	z-index:50;
}
ul#nav li a:hover{
	color:#DB0048;
}
ul#nav li ul{
	display:none;
	padding-top:30px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
}
ul#nav li:hover ul{
	display:block;
}
ul#nav li:hover ul li{
	float:none;
	width:157px;
	height:19px;
	padding-top:4px;
	padding-bottom:1px;
	background:url(images/content/menu_drop.gif) no-repeat;
}
ul#nav li:hover ul li a{
	color:#666;
	font-size:12px;
	font-weight:normal;
	text-transform:none;
}
ul#nav li:hover ul li:hover{
	background:url(images/content/menu_over.gif) no-repeat;
}
ul#nav li:hover ul li:hover a{
	color:#fff;
}
ul#nav li:hover ul li ul{
	display:none;
}
ul#nav li:hover ul li:hover ul{
	display:block;
	left:157px;
	top:0px;
	padding:0px;
	padding-left:1px;
}
ul#nav li:hover ul li:hover ul li a{
	color:#666;
}
ul#nav li:hover ul li:hover ul li:hover a{
	color:#fff;
}
#right-side h1.headline{
	font-size:18px;
	color:#2C2D31;
	font-weight:normal;
	padding-bottom:20px;
}
#right-side div.content p{
	padding-bottom:18px;
}
#banner1 {
	margin-top:30px;
}
#banners {
	clear:both;
	height:299px;
	position:relative;
}
#banners dl{
	width:270px;
	position:absolute;
	top:61px;
}
#banners dl.b1{
	left:5%;
}
#banners dl.b2{
	margin-left:-135px;
	left:50%;
}
#banners dl.b3{
	right:5%;
}
#banners dl dd{
	padding-left:7px;
}
#banners dl dd h2.title{
	color:#333F89;
	font-weight:normal;
	font-size:16px;
	padding-top:12px;
	padding-bottom:12px;
}
/***************end_content***************/
/***************footer***************/
#footer {
	clear:both;
	height:270px;
	background-color:#F0F2F1;
	position:relative;
}
#footer a{
	color:#DB0048;
}
#footer div.copyright{
	background:url(images/footer/copyright.jpg) no-repeat left bottom;
	font-size:10px;
	padding-left:71px;
	padding-bottom:10px;
	position:absolute;
	top:33px;
	left:18px;
}
#footer div.copyright p.perm{
	padding-top:30px;
}
#footer div.counters{
	position:absolute;
	left:89px;
	bottom:57px;
}
#footer div.phones{
	background:url(images/footer/phones.gif) no-repeat;
	width:142px;
	height:76px;
	position:absolute;
	right:43px;
	top:63px;
}
#footer div.phone{
	width:190px;
	height:250px;
	background:url(images/footer/phone.png) no-repeat;
	position:absolute;
	top:20px;
	right:217px;
}
/***************end_footer***************/