* {
	margin:0px;
	padding:0px;
}
html,body {
	background:url(images/background.jpg) repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#383C4D;
}
img {
	border:0px;
}
table{
	border:0px;
	border-collapse:collapse;
}
table td{
	padding:0px;
}
#main_block {
	background:url(images/backgorund_gradient.jpg) repeat-x top;
	padding-top:15px;
}
#center_block {
	width:967px;
	background:url(images/back_center_block.jpg);
}
#content_block {
	width:967px;
	background:url(images/back_content.jpg) repeat-x top;
}
/*******************top*******************/
#top {
	height:269px;
	width:967px;
	text-align:left;
	position:relative;
}
#top a.logo{
	display:block;
	background:url(images/logo.jpg) no-repeat;
	width:175px;
	height:25px;
	position:absolute;
	left:44px;
	top:41px;
}
#top em{
	color:#515050;
	line-height:17px;
	position:absolute;
	top:117px;
	left:125px;
}
#top div.doors{
	background:url(images/doors.jpg) no-repeat;
	width:414px;
	height:238px;
	position:absolute;
	right:104px;
	top:16px;
}
/*******************end_top*******************/
/*******************content*******************/
#content {
}
#text {
	text-align:left;
	padding:0px 45px 40px 45px;
	width:887px;
	overflow:hidden;
}
#left_side {
	margin-right:430px;
}
#left_side h1.headline{
	font-size:20px;
	font-weight:normal;
	padding-bottom:23px;
}
#left_side p{
	padding-bottom:27px;
}
#right_side {
	float:right;
	width:219px;
	padding-right:95px;
	text-align:right;
	position:relative;
}
#right_side a.samples{
	display:block;
	background:url(images/samples.jpg) no-repeat;
	width:219px;
	height:120px;
}
#right_side div.phone{
	background:url(images/phone.jpg) no-repeat right;
	width:219px;
	height:15px;
	margin-top:30px;
}
#right_side p.mail{
	width:219px;
	height:13px;
	background:url(images/mail.jpg) no-repeat right;
	margin-top:23px;
	cursor:hand;
}
#form {
	position:relative;
	z-index:1000;
}
#form div.errors {
	margin-top:10px;
	text-align:left;
}
#form div.errors strong{
	color:#FF0000;
}
#inside {
	display:none;
	background:url(images/background_form.png) no-repeat;
	width:330px;
	height:272px;
	position:absolute;
	left:0px;
	top:15px;
	filter:expression(fixPNG(this));
}
#inside.hover {
	display:block;
}
form#mail {
	position:absolute;
	top:30px;
	left:5px;
}
form#mail label{
	display:block;
	color:#FFFFFF;
	width:290px;
	margin-bottom:2px;
}
form#mail label input{
	background:url(images/input.gif) no-repeat;
	border:none;
	vertical-align:middle;
	width:158px;
	height:19px;
	padding-left:6px;
	padding-top:2px;
	padding-right:6px;
}
form#mail label textarea{
	vertical-align:top;
	border:none;
	overflow:auto;
	background:url(images/input_big.gif) no-repeat;
	width:158px;
	height:79px;
	padding:2px 6px;
}
form#mail input.button{
	background:none;
	border:none;
	color:#E22991;
	margin-top:5px;
}
/*******************end_content*******************/
/*******************footer*******************/
#footer {
	height:77px;
	width:967px;
	position:relative;
	z-index:100;
}
#footer div.copyright{
	font-size:11px;
	color:#FFFFFF;
	position:absolute;
	top:25px;
	left:46px;
}
#footer div.designby{
	font-size:9px;
	padding-top:25px;
	background:url(images/art.jpg) top left no-repeat;
	position:absolute;
	top:24px;
	right:188px;
}
#footer div.designby a{
	text-decoration:none;
	color:#9A9EAD;
}
#footer div.counter{
	position:absolute;
	right:25px;
	top:25px;
}
/*******************end_footer*******************/