#popup-block {
	background-color:#E9ECE4;
}
#popup-block div.inpopup-block{
	position:relative;
}
#popup-block div.inpopup-block a.close{
	font-size:1.2em;
	position:absolute;
	top:45px;
	right:40px;
}
#popup-block div.inpopup-block h3{
	font-size:1.8em;
	font-weight:normal;
	height:37px;
	padding:16px 0px 28px 86px;
	background:url(images/yellow_note.jpg) no-repeat 0px 0px;
}
#popup-block div.inpopup-block input{
	font-size:1.2em;
	width:184px;
	height:20px;
	padding:4px 1px;
}
#popup-block div.inpopup-block p{
	line-height:18px;
}
div.remind {
	width:600px;
}
#popup-block.remind div.inpopup-block{
	padding:50px 110px 28px 39px;
}
#popup-block.remind div.inpopup-block h3{
	margin-left:90px;
}
#popup-block.remind div.inpopup-block input.email{
	margin-left:15px;
}
* html #popup-block.remind div.inpopup-block input.email{
	margin-bottom:-7px;
}
#popup-block.remind div.inpopup-block div.captcha{
	padding:30px 0px 40px 97px;
}
#popup-block.remind div.inpopup-block div.captcha a.captcha img{
	margin:10px 0px 5px 28px;
}
#popup-block.remind div.inpopup-block div.captcha input.captcha{
	font-size:1.5em;
	margin:5px 0px 10px 28px;
}
div.emailsend {
	width:540px;
}
#popup-block.emailsend div.inpopup-block{
	padding:50px 145px 59px 70px;
}
#popup-block.emailsend div.inpopup-block p{
	padding-left:30px;
}
#popup-block div.inpopup-block input.remind{
	width:auto;
	height:auto;
	border:none;
	padding:12px 0px 15px 57px;
	margin-left:173px;
	background:url(images/remind_button.jpg) no-repeat 0px 0px;
	font-size:1.4em;
	color:#195CAB;
	text-decoration:underline;
}
* html #popup-block div.inpopup-block input.remind{
	padding-left:37px;
}
#popup-block div.inpopup-block input.remind:hover{
	cursor:pointer;
}
div.auth {
	width:440px;
}
#popup-block.auth div.inpopup-block{
	padding:30px 0px 37px 43px;
}
#popup-block.auth div.inpopup-block h3{
	font-size:1.8em;
	font-weight:normal;
	height:57px;
	padding:16px 0px 28px 78px;
	background:url(images/auth.jpg) no-repeat 0px 0px;
}
#popup-block.auth div.inpopup-block form p{
	display:block;
	width:90px;
	height:25px;
	padding-bottom:20px;
	text-align:right;
	font-size:1.2em;
	position:relative;
}
#popup-block.auth div.inpopup-block form p input{
	position:absolute;
	left:94px;
	top:-8px;
}
#popup-block.auth div.inpopup-block form p.submit{
	height:0px;
}
#popup-block.auth div.inpopup-block form p input.submit{
	width:auto;
	height:auto;
	background:none;
	border:none;
	font-size:1.6em;
	color:#195CAB;
	text-decoration:underline;
	top:-55px;
	left:300px;
}
#popup-block.auth div.inpopup-block form p input.submit:hover{
	cursor:pointer;
}
#popup-block.auth div.inpopup-block p.auth-other-links{
	padding-left:95px;
}
