#right-side h4.portfolio-title,#left-side h4.portfolio-title{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:1.2em;
	padding-bottom:3px;
	color:#fff;
	border-bottom:1px solid #83A23B;
}
#right-side h4.portfolio-title a:hover,#left-side h4.portfolio-title a:hover{
	border:none;
	color:#ff8;
}
#right-side h4.portfolio-title,#left-side h4.portfolio-title{
	padding-bottom:7px;
	margin-bottom:4px;
}
ul.page-works li{
	list-style:none;
}
ul.page-works li.project-page{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:1em;
	color:#888;
	border-bottom:1px solid #444;
	margin-bottom:5px;
}
ul.page-works li.project-page strong.project{
	color:#888;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:1em;
	padding:9px 0px 9px 10px;
}
ul.page-works li.project-page ul.second{
	padding:10px 20px 10px 130px;
	min-height:100px;
	width:50%;
	list-style:none;
}
ul.page-works li.project-page ul.second li{
	color:#bbb;
	font-size:0.8em;
}
ul.page-works li.project-page ul.second li.desc{
	padding-top:20px;
}
ul.page-works a.show-project{
	color:#fff;
}
ul.page-works a.show-project:hover{
	color:#fff;
}
ul.page-works li.project-preview{
	display:inline;
}
ul.page-works li.project-preview img{
	float:left;
	margin-left:-115px;
	padding:1px;
	border:1px #333 solid;
}
ul.page-works li.project-preview a:hover{
	border:1px #fff solid;
}
ul.page-works li.project-preview a img{
	width:100px;
	height:100px;
}