html,body {
	padding:0px;
	margin:0px;
	background-color:#999999;
	font-family:Tahoma, Verdana, Helvetica;
	font-size:10px;
	color:#5A5A5A;
}
body {
	margin:18px 30px;
}
img {
	border:none;
}
a {
	color:#999999;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
/**********************top**********************/
#top {
	height:70px;
	width:920px;
	background:url(images/top/left_side.jpg) no-repeat left;
	background-color:#5A5A5A;
	position:relative;
}
#top div.right_side{
	width:14px;
	height:70px;
	background:url(images/top/right_side.jpg) no-repeat;
	position:absolute;
	top:0px;
	right:0px;
}
#top a.logo{
	display:block;
	width:165px;
	height:43px;
	background:url(images/top/logo.jpg) no-repeat;
	position:absolute;
	top:17px;
	left:21px;
}
ul#menu {
	background:url(images/top/skobka.jpg) no-repeat 0px 0px;
	height:53px;
	margin:0px;
	padding:5px 0px 0px 20px;
	position:absolute;
	left:421px;
	top:9px;
}
ul#menu.inner{
	left:290px;
}
ul#menu li{
	float:left;
	background:url(images/top/menu_dot_line.jpg) no-repeat right;
	padding-right:21px;
	padding-left:19px;
}
ul#menu li.last{
	background:none;
}
ul#menu li span{
	font-size:12px;
	height:12px;
}
ul#menu li span a{
	display:block;
	text-decoration:none;
	font-size:12px;
	height:9px;
	color:#FFFFFF;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
}
ul#menu li span a:hover{
	text-decoration:underline;
}
ul#menu li span a.eng{
	color:#999999;
}
ul#menu li span a.current{
	color:#F6AC4D;
}
#top div.map{
	background:url(images/top/map.jpg) no-repeat left;
	width:87px;
	height:31px;
	padding-left:60px;
	position:absolute;
	top:18px;
	right:0px;
}
#top div.map p{
	padding:0px;
	margin:0px;
	text-align:left;
}
#top div.map p.city{
	color:#FFFFFF;
	font-size:16px;
}
#top div.map p.country{
	color:#999999;
	font-size:13px;
}
/**********************end_top**********************/
/**********************content**********************/
#content {
	background-color:#FAF9F4;
	width:890px;
	padding:17px 15px 0px 15px;
	overflow:auto;
}
#right_side {
	width:146px;
	float:right;
}
#right_side a{
	display:block;
	padding-bottom:14px;
}
#left_side {
	margin-right:160px;
}
#left_side h1.name_razdel{
	width:720px;
	padding:0px;
	margin:0px;
	color:#000000;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	border-bottom:#C8C7C3 solid 1px;
	padding-bottom:10px;
}
#left_side div.hotel{
	width:720px;
	overflow:hidden;
	padding-top:14px;
	padding-bottom:13px;
}
#left_side div.hotel div.left_image{
	float:left;
	width:451px;
	height:163px;
}
#left_side div.hotel div.right_desc{
	margin-left:465px;
	text-align:left;
}
#left_side div.hotel div.right_desc h3.name_hotel_desc{
	width:200px;
	color:#000000;
	font-size:14px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	text-align:left;
}
#left_side div.hotel div.right_desc h5.hotel_desc_place{
	width:200px;
	padding:0px;
	margin:0px;
	color:#999999;
	font-size:13px;
	font-weight:normal;
}
#left_side div.hotel div.right_desc p.desc{
	font-size:10px;
}
#left_right_side {
	width:345px;
	float:right;
	background-color:#EEEEEE;
	margin-bottom:100px;
}
#left_right_side div.row_hotels{
	width:332px;
	padding:11px 5px 0px 5px;
	overflow:hidden;
}
#left_right_side div.right_row_hotels{
	float:right;
	width:153px;
	text-align:left;
}
#left_right_side div.left_row_hotels{
	margin-right:181px;
	text-align:left;
}
#left_right_side div.row_hotels h3.name_hotel{
	width:148px;
	color:#000000;
	font-size:14px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	text-align:left;
	padding-bottom:7px;
	border-bottom:#BEBEBE 1px solid;
}
#left_right_side div.row_hotels h5.type_hotel{
	width:148px;
	color:#6A6A6A;
	font-size:10px;
	font-weight:normal;
	text-align:left;
	padding:0px;
	margin:0px;
	padding-top:6px;
	padding-bottom:9px;
}
#left_right_side div.row_hotels img{
	display:block;
	width:148px;
	border:none;
	padding:0px;
	margin:0px;
}
#left_right_side div.row_hotels p{
	padding:0px;
	margin:0px;
	padding-top:12px;
	padding-bottom:29px;
}
div#tags {
	padding:21px 25px 25px 25px;
	border-top:#BEBEBE 1px solid;
	text-align:left;
}
div#tags a{
	font-size:18px;
	text-decoration:none;
	margin-right:5px;
}
div#tags a:hover{
	text-decoration:underline;
}
div#preview_hotels {
	text-align:left;
	width:720px;
	overflow:hidden;
}
div#preview_hotels p{
	float:left;
	margin-left:11px;
	margin-right:11px;
}
div#preview_hotels strong.preview_name{
	padding:0px;
	margin:0px;
	color:#000000;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	padding-bottom:5px;
}
div#pages {
	height:22px;
	background-color:#C8C7C3;
	margin-bottom:10px;
}
#left_left_side {
	margin-right:353px;
	text-align:left;
	padding-bottom:100px;
}
#left_left_side img.big_image{
	display:block;
	margin-bottom:15px;
}
#left_left_side h1.name_hotel{
	width:350px;
	color:#000000;
	font-size:24px;
	font-weight:normal;
	padding:0px;
	margin:0px;
}
#left_left_side h3.hotel_city{
	width:350px;
	color:#000000;
	font-size:13px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	margin-bottom:15px;
}
div#partners {
	height:76px;
	width:730px;
	background:url(images/partners/partners.jpg) no-repeat left top;
	position:absolute;
	left:15px;
	top:-90px;
}
#partners ul{
	height:76px;
	padding:0px;
	margin:0px;
	margin-left:85px;
	margin-right:2px;
	list-style:none;
	border-left:#C8C7C3 1px solid;
	border-right:#C8C7C3 1px solid;
}
#partners ul li{
	display:inline;
}
#partners ul li img{
	vertical-align:middle;
	margin-top:12px;
	padding-left:28px;
}
#right_side_other {
	float:right;
	width:281px;
}
#right_side_other div.grey_box{
	width:281px;
	height:470px;
	background-color:#EEEEEE;
}
#right_side_other div.images{
	width:281px;
	background-color:#EEEEEE;
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom:15px;
}
#right_side_other div.images a img{
	padding:4px;
}
#left_side_other {
	margin-right:303px;
	text-align:left;
}
#left_side_other img.big_image{
	display:block;
	width:421px;
	padding-bottom:15px;
}
#left_side_other h1.name_hotel{
	width:350px;
	color:#000000;
	font-size:24px;
	font-weight:normal;
	padding:0px;
	margin:0px;
}
#left_side_other h3.hotel_city{
	width:350px;
	color:#000000;
	font-size:13px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	margin-bottom:15px;
}
#left_side_other div.comments{
	border:3px #FFFFFF solid;
	background-color:#FFFFFF;
	margin-top:50px;
}
#left_side_other div.comments p.header{
	color:#999999;
	margin:0px;
	padding:0px;
	padding:4px 5px;
	background-color:#F5F5F5;
}
#left_side_other div.comments p.header a{
	color:#333333;
}
#left_side_other div.comments p.message{
	color:#000000;
	font-size:10px;
	padding:0px 8px;
}
form#comments {
	padding:0px;
	margin:0px;
	padding-top:20px;
	padding-bottom:20px;
}
form#comments label{
	display:block;
	color:#000000;
	font-size:10px;
}
form#comments textarea{
	width:421px;
	height:100px;
	overflow:hidden;
}
form#comments input{
	margin-top:12px;
	background-color:#D4D0C8;
}
/**********************end_content**********************/
/**********************footer**********************/
#footer {
	height:89px;
	width:920px;
	color:#666666;
	font-size:11px;
	background:url(images/footer/left_side.jpg) no-repeat left;
	background-color:#CCCCCC;
	text-align:left;
	clear:both;
	position:relative;
}
#footer div.right_side{
	width:14px;
	height:89px;
	background:url(images/footer/right_side.jpg) no-repeat left;
	position:absolute;
	top:0px;
	right:0px;
}
#footer div.copyright{
	position:absolute;
	top:23px;
	left:20px;
}
#footer div.icons{
	width:129px;
	height:10px;
	padding-bottom:11px;
	background:url(images/footer/icons_dot.gif) repeat-x bottom;
	position:absolute;
	right:22px;
	top:25px;
}
#footer div.icons a{
	margin-left:12px;
	margin-right:15px;
}
#footer a{
	color:#666666;
}
#foot_menu {
	list-style:none;
	padding:0px;
	margin:0px;
	padding-top:25px;
	padding-bottom:24px;
	background:url(images/footer/menu_dot.gif) repeat-y left;
	position:absolute;
	left:274px;
	top:15px;
}
#foot_menu li{
	display:inline;
	padding-right:16px;
	padding-left:15px;
	border-right:#5A5A5A 1px solid;
}
#foot_menu li.last{
	border:none;
	padding-top:25px;
	padding-bottom:24px;
	background:url(images/footer/menu_dot.gif) repeat-y right;
}
#foot_menu li a{
	font-size:10px;
	color:#5A5A5A;
	text-decoration:none;
}
#foot_menu li a:hover{
	text-decoration:underline;
}
#footer a.search{
	text-decoration:none;
	font-size:10px;
	display:block;
	padding-right:22px;
	background:url(images/footer/search_icon.gif) no-repeat right;
	position:absolute;
	right:87px;
	bottom:22px;
}
#footer a.search:hover{
	text-decoration:underline;
}
/**********************end_footer**********************/